* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  color: #000;
  background-color: #fff;
}

img {
  width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.cards .card {
  width: 31%;
  margin-right: 20px;
  margin-bottom: 30px;
}
.cards .card img {
  width: 100%;
}
.cards .card h3 {
  margin: 20px 0 20px;
}

header {
  padding: 20px;
}
header img {
  width: 20%;
}
header nav {
  margin: 20px 0 20px;
}

main {
  padding: 30px;
}
main h2 {
  margin: 30px;
}